body{
    background-color: #FBE1BB ;
    .caja4{
        grid-area: caja4;
        background-color: orange;
        footer{
            .foter{
                color: beige;
            }
        }
    
    }
}