body{
    background-color: #FBE1BB ;
    .contenedor2{
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: 94px 190vh;
        grid-template-areas:
        "cajas1  cajas1"
        "cajas2  cajas2"
        "cajas3  cajas3"
        ;
        .cajas1{
            grid-area: cajas1;
            background-color: orangered;
        
            header{
                width: 100%;
                
                h1{
                    color: #7B7779;
                    font-size: 34px;
                    background-color:$maincolor;
                }
                .menu{
                    color:beige;
                    list-style-type: none;
                    font-size: 20px;
                    padding-inline: 350px;
                    background-color: #A57E4A;
                    height: 50px;
                    

                   
                  li{
                    display : inline;
                    margin-right: 10px;
                    }
                    a{
                        color:beige;
                    }
                }
                
    }
}
.cajas2{
    grid-area: cajas2;
    background-color: #FBE1BB;
    h2{
    color: orangered;
    text-align:center;
    }
    .cards-wrapperd{
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-content: space-around;
        border-radius: 20px;
        .card{
            margin: 0 .5em;
            width: calc(100%/5);
            border-radius: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
            .card-body{
            background-color: rgb(255, 195, 146),;
                border-radius: 5px;
                
               
            }
        }
    }
}
.cajas3{
    grid-area: cajas3;
    background-color: orange;
    font-size: 20px;
    .footer{
        color: beige;
        font-size: 20px;
    }
        

    
}
    }
}
$carta: (
    body:  rgb(255, 195, 146),
    title: rgb(110, 104, 104),
    text: rgb(100, 91, 91)
);
@each $carta,$color in $carta {
    .card-#{$carta} {
      color: $color ;
    }
    
}