@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #FBE1BB;
}
body .contenedor {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 94px 600px 110px;
  grid-template-areas: "caja1  caja1   caja1" "caja2  caja3   caja3" "caja4  caja4   caja4";
}
body .contenedor .caja1 {
  grid-area: caja1;
}
body .contenedor .caja1 header {
  width: 100vw;
}
body .contenedor .caja1 header h1 {
  color: #7B7779;
  font-size: 34px;
  background-color: orangered;
}
body .contenedor .caja1 header .menu {
  color: beige;
  list-style-type: none;
  font-size: 18px;
  padding-inline: 400px;
  background-color: #A57E4A;
  height: 50px;
}
body .contenedor .caja1 header .menu li {
  display: inline;
  margin-right: 10px;
}
body .contenedor .caja1 header .menu a {
  color: beige;
}

body {
  background-color: #FBE1BB;
}
body .caja2 {
  grid-area: caja2;
  text-align: center;
}
body .caja2 .nuestro {
  color: orangered;
}
body .caja2 .ini a {
  color: orangered;
}
body .caja2 .ini_imagen {
  width: 100%;
  width: 270px;
  height: 270px;
  border-radius: 20px;
}
body .caja3 {
  grid-area: caja3;
  text-align: center;
  display: flex;
  align-items: center;
}

body {
  background-color: #FBE1BB;
}
body .caja4 {
  grid-area: caja4;
  background-color: orange;
}
body .caja4 footer .foter {
  color: white;
}

body {
  background-color: #FBE1BB;
}
body .contenedor2 {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 94px 190vh;
  grid-template-areas: "cajas1  cajas1" "cajas2  cajas2" "cajas3  cajas3";
}
body .contenedor2 .cajas1 {
  grid-area: cajas1;
  background-color: orangered;
}
body .contenedor2 .cajas1 header {
  width: 100%;
}
body .contenedor2 .cajas1 header h1 {
  color: #7B7779;
  font-size: 34px;
  background-color: orangered;
}
body .contenedor2 .cajas1 header .menu {
  color: beige;
  list-style-type: none;
  font-size: 20px;
  padding-inline: 350px;
  background-color: #A57E4A;
  height: 50px;
}
body .contenedor2 .cajas1 header .menu li {
  display: inline;
  margin-right: 10px;
}
body .contenedor2 .cajas1 header .menu a {
  color: beige;
}
body .contenedor2 .cajas2 {
  grid-area: cajas2;
  background-color: #FBE1BB;
}
body .contenedor2 .cajas2 h2 {
  color: orangered;
  text-align: center;
}
body .contenedor2 .cajas2 .cards-wrapperd {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
body .contenedor2 .cajas2 .cards-wrapperd .card {
  margin: 0 0.5em;
  width: 20%;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
body .contenedor2 .cajas2 .cards-wrapperd .card .card-body {
  background-color: rgb(255, 195, 146);
  border-radius: 5px;
}
body .contenedor2 .cajas3 {
  grid-area: cajas3;
  background-color: orange;
  font-size: 20px;
}
body .contenedor2 .cajas3 .footer {
  color: beige;
  font-size: 20px;
}

.card-body {
  color: white;
}

.card-title {
  color: rgb(110, 104, 104);
}

.card-text {
  color: rgb(110, 102, 102);
}

h3 {
  color: white;
}

.contenedor3 {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 94px 300px 300px 110px;
  grid-template-areas: "cajass1 cajass1 cajass1" "cajass2 cajass3 cajass4" "cajass5 cajass6 cajass7" "cajass8 cajass8 cajass8";
}
.contenedor3 .cajass1 {
  grid-area: cajass1;
}
.contenedor3 .cajass1 header {
  width: 100%;
}
.contenedor3 .cajass1 header h1 {
  color: #7B7779;
  font-size: 34px;
  background-color: orangered;
}
.contenedor3 .cajass1 header .menu {
  color: beige;
  list-style-type: none;
  font-size: 18px;
  padding-inline: 400px;
  background-color: #A57E4A;
  height: 50px;
}
.contenedor3 .cajass1 header .menu li {
  display: inline;
  margin-right: 10px;
}
.contenedor3 .cajass1 header .menu a {
  color: beige;
}
.contenedor3 .cajass2 {
  grid-area: cajass2;
  display: inline-block;
  text-align: center;
}
.contenedor3 .cajass3 {
  grid-area: cajass3;
  text-align: center;
}
.contenedor3 .cajass4 {
  grid-area: cajass4;
  text-align: center;
}
.contenedor3 .cajass5 {
  grid-area: cajass5;
  text-align: center;
}
.contenedor3 .cajass6 {
  grid-area: cajass6;
  text-align: center;
}
.contenedor3 .cajass7 {
  grid-area: cajass7;
  text-align: center;
}
.contenedor3 .cajass8 {
  grid-area: cajass8;
  background-color: orange;
}

.local_imagen1 {
  width: 230px;
  height: 230px;
}

.local_imagen2 {
  width: 230px;
  height: 230px;
}

.local_imagen3 {
  width: 230px;
  height: 230px;
}

.local_imagen4 {
  width: 230px;
  height: 230px;
}

.local_imagen5 {
  width: 230px;
  height: 230px;
}

.local_imagen6 {
  width: 230px;
  height: 230px;
}

.local_imagen1 {
  border-radius: 10px;
}

.local_imagen2 {
  border-radius: 10px;
}

.local_imagen3 {
  border-radius: 10px;
}

.local_imagen4 {
  border-radius: 10px;
}

.local_imagen5 {
  border-radius: 10px;
}

.local_imagen6 {
  border-radius: 10px;
}

header {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=estilo.css.map */